name: Windows Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.32.4"
          channel: stable

      - name: Get Flutter packages
        run: flutter pub get
        working-directory: flutter_app

      - name: Build Windows exe
        run: flutter build windows --release
        working-directory: flutter_app

      - name: Upload Windows build
        uses: actions/upload-artifact@v4
        with:
          name: windows-release
          path: flutter_app/build/windows/x64/runner/Release/
